{% extends 'base.html' %}

{% block head %}
<title>youth for europe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
      <div class="col text-center">
        <img src="{{url_for('static', filename='images/youth.png')}}" alt="Logo" class="img-fluid mx-auto d-block logo">
      </div>
  </div>
  <div class="d-block d-lg-none">
    <div class="mx-2 my-2 text-center">
      <div class="rounded-box-one">ᲐᲮᲐᲚᲒᲐᲖᲠᲓᲔᲑᲘ <br> ᲔᲕᲠᲝᲞᲘᲡᲗᲕᲘᲡ</div>
    </div>
  </div>

  <div class="d-none d-lg-block">
    <div class="mx-5 my-3 text-center">
      <div class="rounded-box-one">ᲐᲮᲐᲚᲒᲐᲖᲠᲓᲔᲑᲘ ᲔᲕᲠᲝᲞᲘᲡᲗᲕᲘᲡ</div>
    </div>
  </div>

  
  <div class="mx-5 mt-5 mb-3 text-center">
    <div class="rounded-box-two nt">ახალი სტატიები</div>
  </div>

  <div class="d-block d-lg-none">
    <div class="gradient-box">
      <div class="row justify-content-center">
        {% for stat in stats%}
        <button class="article-box btn btn-primary" onclick="window.location.href='{{ 'statia/' + stat.id|string }}'">
          <p class="h3 nt"> {{ stat.title }} </p>
          <p class="h5 nt"> {{stat.date_created.date()}} </p>
        </button>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

<div class="d-none d-lg-block">

<div class="gradient-box">
  <div class="container">
  <div class="row justify-content-center">
    {% for stat in stats%}
    <button class="article-box btn btn-primary" onclick="window.location.href='{{ 'statia/' + stat.id|string }}'">
      <p class="h3 nt"> {{ stat.title }} </p>
      <p class="h5 nt"> {{stat.date_created.date()}} </p>
    </button>
    {%endfor%}
  </div>
  </div>
</div>
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}