{% extends 'base.html' %} 
{% block head %}
<title>stat</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/stat.css') }}"
/>
{% endblock %} 
{% block body %}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-md-2 yellow-bg"><button type="button" class="btn btn-primary back-button" onclick="history.back()">Back</button></div>
    <div class="col-12 col-md-8 center-content">
      <div class="col-12 article-content">
        <h1 class="text-center">{{ entry.title }}</h1>
        <p class="text-center text-muted">
          Published on: {{ entry.date_created.strftime('%Y-%m-%d') }}
        </p>
        <div class="body-text">
            {{entry.content | safe}}
        </div>
        <!--
                <div class="image-container text-center">
                    <img src="image.jpg" alt="Article Image" class="img-fluid">
                </div>
                -->
      </div>
    </div>
    <div class="col-12 col-md-2 yellow-bg"></div>
  </div>
</div>
{% endblock %}
